[flake8]
exclude =
    .git,
    __pycache__,
    blop/_version.py,
    build,
    dist,
    docs/source/conf.py
    examples/*.py,
    blop/tests/test_bayesian_shadow.py,
    versioneer.py,
max-line-length = 125
# Ignore some style 'errors' produced while formatting by 'black'
ignore = E203, W503
