[flake8]
exclude =
    .git,
    __pycache__,
    build,
    dist,
    versioneer.py,
    bloptools/_version.py,
    scripts/benchmark.py,
    examples/prepare_gp_optimizer.py,
    # bloptools/tests/test_gp_optimizer.py,
    docs/source/conf.py
max-line-length = 115
# Ignore some style 'errors' produced while formatting by 'black'
ignore = E203, W503
