[workspace]
authors = ["jessica-moylan <jessicamoylan10@gmail.com>", "Thomas Hopkins <thopkins1@bnl.gov>"]
channels = ["conda-forge"]
name = "blop"
platforms = ["linux-64"]
version = "0.9.0"

[dependencies]
python = ">=3.10.0,<3.14"

[feature.dev.dependencies]

[feature.dev.pypi-dependencies]
blop = { path = ".", editable = true, extras = ["dev"] }

# CPU-only variant of dev feature
[feature.dev-cpu.dependencies]

[feature.dev-cpu.pypi-dependencies]
blop = { path = ".", editable = true, extras = ["dev", "cpu"] }

[feature.dev-cpu.tasks]
check = "pre-commit run --all-files"
integration-tests = "pytest src/blop/tests/integration"
unit-tests = "pytest src/blop/tests/unit"

[feature.docs.dependencies]

[feature.docs.pypi-dependencies]
blop = { path = ".", editable = true, extras = ["docs"] }

[feature.py310.dependencies]
python = "3.10.*"

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.py313.dependencies]
python = "3.13.*"

[feature.dev.tasks]
check = "pre-commit run --all-files"
integration-tests = "pytest src/blop/tests/integration"
unit-tests = "pytest src/blop/tests/unit"

[feature.docs.tasks]
build-docs = "make -C docs/ html"
doc-tests = "make -C docs/ test"
convert-tutorials-to-ipynb = "jupytext --to notebook docs/source/tutorials/*.md"

[environments]
dev = ["dev"]
dev-cpu = ["dev-cpu"]
docs = ["docs"]
py310 = ["dev", "py310"]
py311 = ["dev", "py311"]
py312 = ["dev", "py312"]
py313 = ["dev", "py313"]
py310-cpu = ["dev-cpu", "py310"]
py311-cpu = ["dev-cpu", "py311"]
py312-cpu = ["dev-cpu", "py312"]
py313-cpu = ["dev-cpu", "py313"]
