[workspace]
authors = ["jessica-moylan <jessicamoylan10@gmail.com>", "Thomas Hopkins <thopkins1@bnl.gov>"]
channels = ["conda-forge", "pytorch"]
name = "blop"
platforms = ["linux-64"]
version = "0.9.0"

[dependencies]
python = ">=3.10.0,<3.13"
python-tsp = ">=0.5.0,<0.6"
ax-platform = ">=1.0.0,<1.1"
bluesky-base = ">=1.14.4,<2"
databroker = ">=1.2.0,<1.3"
tiled = ">=0.1.1"
pytorch = ">=2.8.0,<3"
matplotlib-base = ">=3.10.6,<4"
pyqt = ">=5.15.11,<6"
ophyd = ">=1.11.0,<2"
botorch = ">=0.14.0,<0.16"
gpytorch = ">=1.14,<2"
scipy = ">=1.15.2,<2"
numpy = ">=2.2.6,<3"
h5py = ">=3.14.0,<4"
area-detector-handlers = ">=0.0.10,<0.0.11"
networkx = "~=2.1"  # FIXME: Required by python-tsp
tabulate = "~=0.8.7"  # FIXME: Required by python-tsp

[pypi-dependencies]
xrt = ">=1.6.1,<2"
bluesky-tiled-plugins = ">=2.0.0b69, <3"

[feature.dev.dependencies]
pytest = "*"
ipykernel = ">=6.30.1,<7"
ruff = ">=0.13.2,<0.14"
nbstripout = ">=0.8.1,<0.9"
pre-commit = ">=4.3.0,<5"
pandas-stubs = ">=2.3.2.250926,<3"
pyright = ">=1.1.406,<2"
coverage = ">=7.10.7,<8"

[feature.dev.pypi-dependencies]
blop = { path = ".", editable = true }
nbval = "*"

[feature.docs.dependencies]
numpydoc = ">=1.9.0,<2"
sphinx-copybutton = ">=0.5.2,<0.6"
myst-nb = ">=1.3.0,<2"
pydata-sphinx-theme = "*"
jupytext = ">=1.16"

[feature.jupyter.dependencies]
ipython = ">=9.4.0, <10"
ipykernel = "*"
jupyter = ">=1.1.1, <2"
jupyterlab = "~=4.2.4"
jupyterlite-core = "==0.4.0"
jupyterlite-xeus = "*"
notebook = "~=7.2.1"
jupyterlab-myst = ">=2.4"
jupytext = ">=1.16"
ipympl = ">=0.9"

[feature.py310.dependencies]
python = "3.10.*"

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.dev.tasks]
check = "pre-commit run --all-files"
integration-tests = "pytest src/blop/tests/integration"
unit-tests = "pytest src/blop/tests/unit"

[feature.docs.tasks]
build-docs = "make -C docs/ html"
doc-tests = "make -C docs/ test"
convert-tutorials-to-ipynb = "jupytext --to notebook docs/source/tutorials/*.md"

[feature.jupyter.tasks]
start-jupyter = "jupyter lab"
test-tutorials = "bash docs/test.sh"

[feature.jupyter.activation]
# Workaround overrides JupyterLab configuration (at the environment level) to
# make double-clicking on a Jupytext Markdown file open that file as a
# notebook. This is important for the development workflow for contributors.
scripts = ["docs/activate.sh"]

[environments]
dev = ["dev"]
docs = ["docs", "dev", "jupyter"]
py310 = ["dev", "docs", "py310"]
py311 = ["dev", "docs", "py311"]
py312 = ["dev", "docs", "py312"]
