[workspace]
authors = ["jessica-moylan <jessicamoylan10@gmail.com>", "Thomas Hopkins <thopkins1@bnl.gov>"]
channels = ["conda-forge"]
name = "blop"
platforms = ["linux-64"]
version = "0.9.0"

[dependencies]
python = ">=3.10.0,<3.14"

[feature.dev.dependencies]

[feature.dev.pypi-dependencies]
blop = { path = ".", editable = true, extras = ["dev"] }

# CPU-only variant of dev feature
[feature.dev-cpu.dependencies]

[feature.dev-cpu.pypi-dependencies]
blop = { path = ".", editable = true, extras = ["dev", "cpu"] }

[feature.dev-cpu.tasks]
check = "pre-commit run --all-files"
integration-tests = "pytest src/blop/tests/integration"
unit-tests = "pytest src/blop/tests/unit"

[feature.docs.dependencies]

[feature.docs.pypi-dependencies]
blop = { path = ".", editable = true, extras = ["docs"] }

[feature.jupyter.dependencies]
ipython = ">=9.4.0, <10"
ipykernel = "*"
jupyter = ">=1.1.1, <2"
jupyterlab = "~=4.2.4"
jupyterlite-core = "==0.4.0"
jupyterlite-xeus = "*"
notebook = "~=7.2.1"
jupyterlab-myst = ">=2.4"
jupytext = ">=1.16"
ipympl = ">=0.9"

[feature.py310.dependencies]
python = "3.10.*"

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.py313.dependencies]
python = "3.13.*"

[feature.dev.tasks]
check = "pre-commit run --all-files"
integration-tests = "pytest src/blop/tests/integration"
unit-tests = "pytest src/blop/tests/unit"

[feature.docs.tasks]
build-docs = "make -C docs/ html"
doc-tests = "make -C docs/ test"
convert-tutorials-to-ipynb = "jupytext --to notebook docs/source/tutorials/*.md"

[feature.jupyter.tasks]
start-jupyter = "jupyter lab"
test-tutorials = "bash docs/test.sh"

[feature.jupyter.activation]
# Workaround overrides JupyterLab configuration (at the environment level) to
# make double-clicking on a Jupytext Markdown file open that file as a
# notebook. This is important for the development workflow for contributors.
scripts = ["docs/activate.sh"]

[environments]
dev = ["dev"]
dev-cpu = ["dev-cpu"]
docs = ["docs", "dev", "jupyter"]
py310 = ["dev", "py310"]
py311 = ["dev", "py311"]
py312 = ["dev", "py312"]
py313 = ["dev", "py313"]
py310-cpu = ["dev-cpu", "py310"]
py311-cpu = ["dev-cpu", "py311"]
py312-cpu = ["dev-cpu", "py312"]
py313-cpu = ["dev-cpu", "py313"]
