# These are required for developing the package (running the tests, building
# the documentation) but not necessarily required for _using_ it.
black
pytest-codecov
coverage
flake8
furo
isort
nbstripout
pre-commit
pre-commit-hooks
pytest
sphinx
twine
# These are dependencies of various sphinx extensions for documentation.
ipython
jupyter
matplotlib
nbsphinx
numpydoc
pandoc
shadow3
sirepo-bluesky
sphinx-copybutton
sphinx_rtd_theme
srwpy
