name: pre-commit

on:
  workflow_call:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: prefix-dev/setup-pixi@v0.8.14
        with:
          pixi-version: v0.60.0
          environments: dev-cpu
          cache: false
      - name: Run checks
        run: pixi run -e dev-cpu check
